<div class="flex w-full bg-gray-100 px-4 pt-4 pb-4 mb-8">
  <div class="w-full">
    <div class="flex w-full max-w-3xl mx-auto">
      <div class="w-1/2">
        <h1 class="text-2xl">Upcoming Feed</h1>
      </div>
      <div class="w-1/2 justify-end flex">
        <%= link_to 'Create new reminder', new_later_path, class: "inline-block leading-tight bg-teal-700 border border-blue-dark hover:bg-blue-dark px-3 py-2 text-white no-underline rounded" %>
      </div>
    </div>
    
    <div class="mx-auto max-w-3xl flex mb-4">
      <p>
        View all reminders setup through Readturn
      </p>
    </div>
  </div>
</div> 

<div class="flex-grow container mx-auto pb-8 px-4 ">
  <div class="flex mb-4">
    <div class="bg-white mb-1 w-full">
      <table class="text-left w-full border-collapse" id="data-table-reminds">
        <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
        <thead>
          <tr class="">
            <th
              class="py-4 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
              Destined time
            </th>
            <th
              class="py-4 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
              Delay length
            </th>
            <th
              class="py-4 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
              Title
            </th>
            <th
              class="py-4 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          <% @laters.each do |later| %>
            <tr class="">
              <td class=" py-4 px-6 border-b border-grey-light"><% if later.destined_at %><%= later.destined_at.strftime("%D %I:%M") %><% end %></td>
              <td class=" py-4 px-6 border-b border-grey-light"><% if later.destined_at %><%= distance_of_time_in_words(Time.now.utc, later.destined_at) %> from now<% end %></td>
              <td class=" py-4 px-6 border-b border-grey-light"><% if !later.title.nil? &&!later.title.empty? %><%= later.title %><% else %><%= later.url %><% end %></td>
              <td class=" py-4 px-6 border-b border-grey-light"><%= later.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
