<section class="py-12 px-4 text-center">
  <div class="w-full max-w-2xl mx-auto">
    <h2 class="text-5xl mt-2 mb-6 leading-tight font-heading">Create your account</h2>
  </div>
</section>

<section class="py-8 pb-24">
  <div class="w-full max-w-sm mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- <div class="mb-5">
        <%= f.submit "Register with Google", class: "inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow", style: '  background-color: #0549d1;' %>
      </div>

      <div class="signup__teams__option-divider signup__teams__p1">
        <span class="signup__teams__option-divider__wrapper">
          Or, register with your email
        </span>
      </div> -->
      
      <div class="mb-4">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none", required: true %>
      </div>
      <div class="mb-4">
        <%= f.password_field :password, placeholder: "Password", autocomplete: "password", class: "appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none", required: true %>
      </div>
      <div class="mb-4">
        <%= f.text_field :publication_name, placeholder: "Publication name", autofocus: false, class: "appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none", required: true %>
      </div>
      <!-- <div class="mb-4">
        <%= f.select("publication_size", publication_size_list_for_select, {:prompt => 'Publication size', }, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true}) %>
      </div> -->
      <div class="mb-5">
        <%= f.submit "Sign up", class: "inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" %>
      </div>
      
      <p class="text-sm text-center text-gray-500">
        <%= render "devise/shared/links" %>
      </p>
    <% end %>
  </div>
</section>
