  </div>
</div>
<div class="large-12 bg-color-grey footer-signup">
  <div class="row">
    <div class="signup large-12 column text-center">
      <%= link_to 'Start here', new_user_registration_path, class: 'display-modal button radius success large' %>
    </div>
  </div>
  <div class="row footer-links" style="margin-top: 4em">
    <div class="medium-8 column medium-centered">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6 text-center">
        <li>
          <%= link_to 'RemindToRead', root_path %>
        </li>
        <li>
          <%= link_to 'About', about_path %>
        </li>
        <li>
          <%= link_to 'Contact Us', contact_path %>
        </li>
        <li>
          <%= link_to 'Terms', terms_path %>
        </li>
        <li>
          <%= link_to 'Privacy Policy', privacy_path %>
        </li>
        <li>
          <%= link_to 'Optout', optout_path %>
        </li>
      </ul>
    </div>
  </div>
</div>

