  </div>
</div>
<div class="large-12 bg-color-grey footer-signup">
  <div class="row">
    <div class="signup large-12 column text-center">
      <%= link_to 'Start here', new_user_registration_path, class: 'display-modal button radius success large' %>
    </div>
  </div>
  <footer class="page__footer">
  <ul class="flex mb-4 mt-4 justify-center">
    <li class="mr-6">
      <%= link_to 'RemindToRead', root_path, { class: "text-blue-500 hover:text-blue-800" } %>
    </li>
    <li class="mr-6">
      <%= link_to link_to 'About', about_path %>
    </li>
    <li class="mr-6">
      <%= link_to link_to 'Contact Us', contact_path %>
    </li>
    <li class="mr-6">
      <%= link_to link_to 'Terms', terms_path %>
    </li>
    <li class="mr-6">
      <%= link_to link_to 'Privacy Policy', privacy_path %>
    </li>
  </ul>
</footer>
</div>

