%div.large-3.column.medium-3
  = render 'layouts/side_nav'
%div.large-9.column.medium-9
  %div.row
    %h2
      Settings
      %hr/
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = f.input :email, autofocus: true, required: true
      - if resource.new_record?
        - unless hide_password
          %div{class: resource.errors.empty? ? 'hide' : ''}
            = f.input :password, required: true, autocomplete: 'off'
          - content_for :on_ready do
            $('input[name="user[email]"]').on('click keydown', function(){$(this).closest('form').find('.hide').slideDown('slow')});

      - else
        = f.input :password, autocomplete: 'off'
        - if resource.password_required?
          = f.input :current_password, autocomplete: 'off'

      = f.button :submit
