
<div class="max-w-6xl self-center content-center">
  <div class="max-w-4xl self-center mx-auto">
    <div class="w-full">
      <div class="flex w-full max-w-3xl mx-auto">
        <div class="w-1/2">
          <h1 class="text-2xl font-bold">Remind subscriber (<%= @remind_users.count %>)</h1>
        </div>
        <div class="w-1/2 justify-end flex">
          <%= link_to 'Create new subscriber', new_subscriber_path, class: "inline-block leading-tight bg-teal-700 border border-blue-dark hover:bg-blue-dark px-3 py-2 text-white no-underline rounded" %>
        </div>
      </div>
      
      <div class="flex mb-8">
        <p>
          View all subscribers to reminders
        </p>
      </div>
    </div>
  </div> 
  <div class="flex w-full mb-4">
    <div id='recipients' class="p-8 mt-6 lg:mt-0 w-full">
			 
				
      <table id="data-table" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
        <thead>
          <tr>
            <th></th>
            <th data-priority="1">Email</th>
            <th data-priority="2">Created</th>
            <th data-priority="3">Updated</th>
            <th data-priority="4">Remind count</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @remind_users.each do |user| %>
            <tr>
              <td class="justify-center flex"><%= image_tag gravatar(user.email), class: 'rounded-full', style: "max-width: 26px;" %></td class="text-center">
              <td><%= user.email %></td>
              <td class="text-center"><%= distance_of_time_in_words(Time.now.utc, user.created_at) %></td>
              <td class="text-center"><%= distance_of_time_in_words(Time.now.utc, user.updated_at) %></td>
              <td class="text-center"><%= remind_count_for_user(user.id) %></td>
              <td class="text-center">
                <%= link_to remind_user_path(user.id) do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
      
      
    </div>
  </div> 
</div>
