<div class="mx-auto w-full ">
  <div class="flex w-full bg-gray-100 px-4 pt-4">
    <div class="w-full">
      <div class="flex w-full ">
        <div class="w-1/2">
          <h1 class="text-2xl">Email templates</h1>
        </div>
        <div class="w-1/2 justify-end flex">
          <%= link_to 'New Email template', new_email_template_path, class: "inline-block leading-tight bg-teal-700 border border-blue-dark hover:bg-blue-dark px-3 py-2 text-white no-underline rounded" %>
        </div>
      </div>

      <div class="flex mb-4">
        <p>
          Re-engage readers who visit to bring them back to your content.
        </p>
      </div>
    </div>
  </div>
  <div class="flex mb-4">
    <div class="bg-white mb-6 w-full">
      <table class="text-left w-full border-collapse">
        <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
        <thead>
          <tr class="flex">
            <th
              class="flex-grow py-4 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
              Title
            </th>
            <th style="min-width: 232px"
              class="py-4 flex-shrink-0 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
              Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @email_templates.each do |email_template| %>
          <tr class="flex">
            <td class="flex-grow py-4 px-6 border-b border-grey-light">
              <%= link_to email_template do %>
                <%= email_template.title %>
              <% end %>
            </td>
            <td class="py-4 px-6 flex-shrink-0 border-b border-grey-light">
              <%= link_to 'Show', email_template, class: 'text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-green hover:bg-green-dark' %>
              <%= link_to 'Edit', edit_email_template_path(email_template), class: 'text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-green hover:bg-green-dark' %>
              <%= link_to 'Destroy', email_template, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-green hover:bg-green-dark' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>