%p#notice= notice

%p
  %b Title:
  = @email_template.title
%p
  %b Body:
  = @email_template.body

= link_to 'Edit', edit_email_template_path(@email_template)
\|
= link_to 'Back', email_templates_path
