<div class="mx-auto w-full ">
  <div class="flex w-full bg-gray-100 px-4 pt-4">
    <div class="w-full">
      <div class="flex w-full ">
        <div class="w-1/2">
          <h1 class="text-2xl">Email templates</h1>
        </div>
        <div class="w-1/2 justify-end flex">
          <%= link_to 'Edit template', edit_email_template_path(@email_template), class: 'inline-block leading-tight bg-teal-700 border border-blue-dark hover:bg-blue-dark px-3 py-2 text-white no-underline rounded' %>
        </div>
      </div>

      <div class="flex mb-4">
        <p>
          Make changes to your reminder emails layout and content. 
        </p>
      </div>
    </div>
  </div> 
  <div class="flex mb-4">

    <div class="flex-grow container mx-auto sm:px-4 pt-6 pb-8">
      <div class="w-3/4 mx-auto mb-12 mt-6">
          <div class="w-full shadow-2xl subpixel-antialiased rounded bg-gray-100 mx-auto sm:rounded border">
          <div class="flex items-center h-6 rounded-t bg-gray-200 text-center text-black" id="headerTerminal">
            <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn"></div>
            <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn"></div>
            <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn"></div>
            <div class="mx-auto pr-16" id="terminaltitle"></div>
          </div>
          <div class="flex items-center h-8 p-2 bg-white border-t border-gray-300 text-center text-black" id="headerTerminal">
            <p class="font-semibold"><%= @email_template.title %></p>
          </div>
          <div class="flex items-center text-sm h-8 px-2 p-1 bg-white border-t border-b border-gray-300 text-center text-green-700" id="headerTerminal">
            <p>From <%= @account.company_name %></p>
          </div>
          <div class="pt-6 px-2 h-auto text-black bg-gray-100">
            <div class="w-4/5 mx-auto">
              <div class="bg-white border-t border-b sm:rounded sm:border shadow px-4 py-6 mb-4">
                <p>
                  <%= @email_template.body %>
                </p>
              </div>
            </div>
            <div class="w-4/5 mx-auto">
              <div class=" px-4 pt-6 mb-8 text-gray-600 text-sm">
                <p>
                  From <%= @account.company_name %>
                </p>
              </div>
            </div>
            <div class="w-4/5 mx-auto">
              <div class=" px-4 pb-6 text-gray-600 text-sm text-center">
                <p>
                  Sent by <span class="font-semibold">Readturn</span>
                </p>
              </div>
            </div>
          </div>
        </div> 
      </div>
      
      <%= link_to 'Back', email_templates_path, class: 'inline-block leading-tight bg-teal-700 border border-blue-dark hover:bg-blue-dark px-3 py-2 text-white no-underline rounded' %>
    </div>
  </div>
</div>

