<footer class="page__footer">
  <ul>
    <li>
      <%= link_to 'RemindToRead', root_path %>
    </li>
    <li>
      <%= link_to 'About', about_path %>
    </li>
    <li>
      <%= link_to 'Contact Us', contact_path %>
    </li>
    <li>
      <%= link_to 'Terms', terms_path %>
    </li>
    <li>
      <%= link_to 'Privacy Policy', privacy_path %>
    </li>
    <li>
      <%= link_to 'Optout', optout_path %>
    </li>
  </ul>
</footer>