<% logged_in = user_signed_in? && !@current_user.nil? && @current_user.try(:account_id).present? %>
<% top_styles = logged_in ? "margin-bottom: 0px" : "" %>
<nav class="top-bar" style="#{top_styles}" data-topbar='' data-options-custom_back_text="false">
  <% if user_signed_in? %>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag 'sendlatericon-icon.png', style: 'max-height: 25px;' %>
          <% end %>
        </h1>
      </li>
    </ul>
  <% else %>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag 'sendlatericon-icon.png', style: 'max-height: 25px;' %>
          <% end %>
        </h1>
      </li>
    </ul>
  <% end %>
  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>

        <li>
          <%= link_to I18n.t('nav.preauth.help'), help_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow %>
        </li>
        <li>
          <%= link_to I18n.t('account.edit.link'), edit_user_registration_path %>
        </li>
        <li>
          <a href="#{edit_user_registration_path}">
            <%= render 'users/avatar', size: :tiny %>
          </a>
        </li>
      <% else %>
        <li class="divider"></li>
        <li>
          <%= link_to 'CREATE REMINDER', new_user_registration_path, {class: 'radius button small success', style: "border: none; box-shadow: none; outline: none;"} %>
        </li>
        <li>
          <%= link_to I18n.t('nav.preauth.pricing'), pricing_path %>
        </li>
        <li style="margin-right: 8px; padding-left: 20px;">
        </li>
        <li>
          <%= link_to I18n.t('auth.login.link'), new_user_session_path, {class: ''} %>
        </li>
        <li>
          <%= link_to I18n.t('auth.signup.link'), new_user_registration_path, {} %>
        </li>
      <% end %>
</nav>