<% logged_in = user_signed_in? && !@current_user.nil? && @current_user.try(:account_id).present? %>
<% top_styles = logged_in ? "margin-bottom: 0px" : "" %>
<% if user_signed_in? %>
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <%= link_to root_path, class: 'text-xl text-indigo-500 font-semibold' do %>
        <%= t('brand.name') %>
      <% end %>
    </div>
    <div class="justify-end w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div>
        <div class="text-sm text-right lg:flex-grow pr-4">
          <% if user_signed_in? %>
          <% else %>
            <%= link_to I18n.t('auth.login.link'), new_user_session_path, { class: "block mt-4 lg:inline-block lg:mt-0 text-black hover:text-grey-400" } %>
          <% end %>
        </div>
        <div class="flex">
          <div class="text-right w-full block flex-grow lg:flex lg:items-center lg:w-auto pr-4">
            <% if user_signed_in? %>
              <%= link_to I18n.t('nav.preauth.help'), help_path, { class: "block mt-4 lg:inline-block lg:mt-0 text-black hover:text-grey-400" } %>
              <%= link_to I18n.t('auth.logout.link'), destroy_user_session_path, { class: "block mt-4 lg:inline-block lg:mt-0 text-black hover:text-grey-400", rel: :nofollow, method: :delete } %>
              <%= link_to I18n.t('account.edit.link'), edit_user_registration_path, { class: "block mt-4 lg:inline-block lg:mt-0 text-black hover:text-grey-400" } %>
            <% else %>
              <%= link_to I18n.t('nav.preauth.pricing'), pricing_path, { class: "block mt-4 lg:inline-block lg:mt-0 text-black hover:text-grey-400" } %>
            <% end %>
          </div>
          <% if !user_signed_in? %>
          <form class="m-2 flex">
            <input autocomplete="email" type="email" class="rounded-l-lg p-2 border-t placeholder-gray-800 mr-0 border-b border-l text-black border-black bg-white" placeholder="your@mail.com"/>
            <button class="px-2 pl-6 pr-6 border-l rounded-r-lg bg-black text-white font-bold pt-2 pb-2 border-black border-t border-b border-r">Get started</button>
          </form>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      
    </div>
    <div class="block">
      
    </div>
    <div class="justify-end w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div>
        <div class="text-sm text-right lg:flex-grow pr-4">
        </div>
        <div class="flex">
          <div class="text-right w-full block flex-grow lg:flex lg:items-center lg:w-auto pr-4">
          </div>
          
        </div>
      </div>
    </div>
  </nav>
<% end %>
