<!DOCTYPE html>

<% if controller_name == 'reminder_form_page' %>
  <html class="no-js" lang='en'>
    <head>
      <meta charset="utf-8">
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <% if @referrer %>
        <meta name="remindtoread-referrer" content="<%=@referrer%>">
      <% end %>
      <title>
        <%= content_for?(:title) ? yield(:title) : I18n.t('brand.name') %>
      </title>
      <meta content="<%= (content_for?(:description) ? yield(:description) : I18n.t('brand.name'))%>" name="description">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= yield :head %>
      <style>
        <%= render 'reminder_form_page/style.css.erb' %>
      </style>
    </head>
  <body class="wrapper controller__<%= controller_name %> action__<%= action_name %> as_embed">
    <div class="list-page kabuki site-wrapper no-logo controller__reminder_form_page action__show">
      <div class="site-wrapper-inner">
        <%= yield %>
        <%= render 'reminder_form_page/footer' %>
      </div>
    </div>
    <div data-widget-host="habitat" class="preview"></div><script async src="http://localhost:8000/build/bundle.js"></script>
  </body>
<% else %>
  <html>
    <head>
      <title>Readturn</title>
      <meta charset="utf-8">
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="controller__<%= controller_name %> action__<%= action_name %> min-h-screen bg-white">
      <%= render 'layouts/navigation'%>
      <div class="container mx-auto">
        <div class="errors__container">
          <%= render 'layouts/messages' %>
        </div>
        <div>
          <%= yield %>
        </div>
        <div>
          <% if controller_name != 'pages' %>
            <%= render 'layouts/footer' %>
          <% else %>
            <%= render 'pages/home/signup' %>
          <% end %>
        </div>
        
        <div data-remind-embed></div>
        <script src="https://cdn.jsdelivr.net/npm/@remindto/remindembed@0.1.0/dist/bundle.min.js" defer></script>
    </body>
  </html>
<% end %>
