<!DOCTYPE html>
<html>
  <head>
    <title>Remind To</title>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="controller__#{controller_name} action__#{action_name}">
    <%= render 'layouts/navigation'%>
    <div class="row">
      <div class="large-12 columns">
        <div class="errors__container">
          <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
