<% if type_of_form == "create" %>
  <% resource_place = create_account_path(@account) %>
<% elsif type_of_form == "edit" %>
  <% resource_place = update_account_path(@account) %>
<% end %>
<%= simple_form_for @account, url: resource_place do |f| %>
  <!-- Two columns -->
  <div class="flex mb-4">
    <div class="w-full">
      <label>
        <h5>
          Call to action
        </h5>
        <%= f.input :company_name, label: false, autofocus: true, required: true, placeholder: "Call to action (e.g. Remind me to read this later", input_html: { "v-model" => "company_name" } %>
      </label>
    </div>
  </div>
  <div class="flex mb-4">
    <div class="w-full">
      <label>
        <h5>
          Description
        </h5>
        <%= f.input :domain, label: false, placeholder: "Description (e.g. Get an email reminder in your inbox to come back.)", input_html: { "v-model" => "domain" } %>
      </label>
    </div>
  </div>
  
  <% if current_user.subscription_type == 'premium' %>
    <div class="flex mb-4">
      <div class="w-full">
        <label>
          <h5>
            Remove RemindToRead branding
          </h5>
          <%= f.select :remove_branding_flag, [['Keep branding', false], ['Remove branding', true]], label: false %>
        </label>
      </div>
    </div>
    <div class="flex mb-4">
      <div class="w-full">
        <label>
          <h5>
            Company logo
          </h5>
          <%= f.attachment_field :company_image, placeholder: "Description (e.g. Get an email reminder in your inbox to come back.)", class: "info button small small-12 disabled", value: "Upload Logo" %>
        </label>
      </div>
    </div>
  <% else %>
  <% end %>
  <div class="flex mb-4">
    <div class="w-full">
      <%= f.button :submit, class: 'medium-12', value: 'Update Reminder Form' %>
    </div>
  </div>
<% end %>