- if type_of_form == "create"
  - resource_place = create_account_path(@account)
- elsif type_of_form == "edit"
  - resource_place = update_account_path(@account)

= simple_form_for @account, url: resource_place do |f|
  .row
    .large-12.columns
      %label
        %h5
          Call to action
        = f.input :company_name, label: false, autofocus: true, required: true, placeholder: "Call to action (e.g. Remind me to read this later", input_html: { "v-model" => "company_name" }

  .row
    .large-12.columns
      %label
        %h5
          Description
        = f.input :domain, label: false, placeholder: "Description (e.g. Get an email reminder in your inbox to come back.)", input_html: { "v-model" => "domain" }
  - if current_user.subscription_type == 'premium'
    .row
      .large-12.columns
        %label
          %h5
            Remove RemindToRead branding
          = f.select :remove_branding_flag, [['Keep branding', false], ['Remove branding', true]], label: false
    .row
      .large-12.columns
        %h5
          Company logo
        = f.attachment_field :company_image, placeholder: "Description (e.g. Get an email reminder in your inbox to come back.)", class: "info button small small-12 disabled", value: "Upload Logo"
    .row
      .small-9.columns
        %ul.small-block-grid-5.fr
          %li
            %a.color-clicked.button.small-12{:href => "#", style: "background: #ff4500; border: none;", data: { color_click: '#ff4500'}}
          %li
            %a.color-clicked.button.small-12{:href => "#", style: "background: #fab81e; border: none;", data: { color_click: '#fab81e'}}
          %li
            %a.color-clicked.button.small-12{:href => "#", style: "background: #19cf86; border: none;", data: { color_click: '#19cf86'}}
          %li
            %a.color-clicked.button.small-12{:href => "#", style: "background: #1b95e0; border: none;", data: { color_click: '#1b95e0'}}
          %li
            %a.color-clicked.button.small-12{:href => "#", style: "background: #f58ea8; border: none;", data: { color_click: '#f58ea8'}}
      .small-3.columns
        %ul.small-block-grid-1.small-12
          %li
            = f.input :color, label: false, placeholder: "#1a93f8", class: "color-click-target"

  - else
    .row
      .large-12.columns.text-center
        %p
          = link_to "Upgrade", pricing_path
          for more customization...
    .row
      .large-12.columns.text-center
        %button.small-12{class: "info button small small-12 disabled", disabled: "disabled", data: {dismiss: ''}}
          Upload Logo
    .row
      .small-9.columns
        %ul.small-block-grid-5.fr
          %li
            %a.disabled.button.small-12{:href => "#", style: "background: #ff4500; border: none;"}
          %li
            %a.disabled.button.small-12{:href => "#", style: "background: #fab81e; border: none;"}
          %li
            %a.disabled.button.small-12{:href => "#", style: "background: #19cf86; border: none;"}
          %li
            %a.disabled.button.small-12{:href => "#", style: "background: #1b95e0; border: none;"}
          %li
            %a.disabled.button.small-12{:href => "#", style: "background: #f58ea8; border: none;"}
      .small-3.columns
        %ul.small-block-grid-1.small-12
          %li
            %input.small-12{:type => "text", disabled: "disabled", placeholder: "#1a93f8"}/

  .row
    .medium-12.column
      = f.button :submit, class: 'medium-12', value: 'Update Reminder Form'
